
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    
  <style type="text/css">
.main-container {
  margin-left: 1px;
  margin-right: auto;
}
code {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.08);
}
img { 
  max-width:100%; 
  height: auto; 
}
html {  background-color:  white; }
body {  background-color: white ;}

#preheader {
	background-color:#2C256B;
    color:white;
	padding:2px;
    text-align:center;
	margin:auto;

}

#classe1 {
 border-radius: 25px;
 padding:2px 20px 2px 40px;
 border-width:3px 1px 3px 1px;
 border-style:solid;
 text-align:center;
 border-color:#33adff white #33adff   white;
}
#classe2 {
 border-radius: 25px;
 padding:2px 20px 2px 40px;
 border-width:1px 2px 1px 1px;
 border-style:solid;
 border-color:white white white   white;
}
#header {

	background-image:  url(./logo2.png);
	background-size: 300px ;
    background-repeat: no-repeat;
    background-position: left top;
	border-radius:  0px 0px 0px 0px ;
	border: 5px solid #0062AE;
	background-color:#0062AE;
    color:white;
	padding:5px;
    text-align:center;
	margin:auto;
}
.span3{
	background-color: #33adff;
}

.c {

  margin-left: 23%;
  margin-right: 2%;
}
code {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.04);
}

img { 
  max-width:100%; 
  height: auto; 
}
 h1{
  color:#2C256B;
}

#autre{
  color:white;
}

span{
.sc{
  font-size: 60pt;
	color: white;
}

}
#postheader {

	  background-color:#272D31;
	
	  height:20px;
    color:white;
	  padding:1px;
    text-align:center;
	  margin:auto;

}
#prefooter {
 border-radius:  0px 0px 0px 0px ;
	  background-color:#272D31;
	  
    color:white;
	  padding:3px;
	  height:30px;
    text-align:center;
	  margin:auto;
}

#postfooter {
 border-radius:  0px 0px 0px 0px;
	  background-color:#0062AE;
	  height:8px;
    color:white;
	  padding:1px;
    text-align:center;
	  margin:auto;
}

  </style>
  </head>
</html>
